=begin
#College Football Data API

#This is an API for accessing all sorts of college football data.  It currently has a wide array of data ranging from play by play to player statistics to game scores and more.

OpenAPI spec version: 1.20.0
Contact: admin@collegefootballdata.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.10

=end

require 'uri'

module SwaggerClient
  class GamesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get advanced box score
    # Advanced box score
    # @param game_id Game id parameters
    # @param [Hash] opts the optional parameters
    # @return [Array<BoxScore>]
    def get_advanced_box_score(game_id, opts = {})
      data, _status_code, _headers = get_advanced_box_score_with_http_info(game_id, opts)
      data
    end

    # Get advanced box score
    # Advanced box score
    # @param game_id Game id parameters
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<BoxScore>, Fixnum, Hash)>] Array<BoxScore> data, response status code and response headers
    def get_advanced_box_score_with_http_info(game_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GamesApi.get_advanced_box_score ...'
      end
      # verify the required parameter 'game_id' is set
      if @api_client.config.client_side_validation && game_id.nil?
        fail ArgumentError, "Missing the required parameter 'game_id' when calling GamesApi.get_advanced_box_score"
      end
      # resource path
      local_var_path = '/game/box/advanced'

      # query parameters
      query_params = {}
      query_params[:'gameId'] = game_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<BoxScore>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamesApi#get_advanced_box_score\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get game information
    # Game results
    # @param year Year/season filter for games
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :week Week filter
    # @option opts [String] :season_type Season type filter (regular or postseason) (default to regular)
    # @option opts [String] :team Team
    # @option opts [String] :home Home team filter
    # @option opts [String] :away Away team filter
    # @option opts [String] :conference Conference abbreviation filter
    # @option opts [Integer] :id id filter for querying a single game
    # @return [Array<Game>]
    def get_games(year, opts = {})
      data, _status_code, _headers = get_games_with_http_info(year, opts)
      data
    end

    # Get game information
    # Game results
    # @param year Year/season filter for games
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :week Week filter
    # @option opts [String] :season_type Season type filter (regular or postseason)
    # @option opts [String] :team Team
    # @option opts [String] :home Home team filter
    # @option opts [String] :away Away team filter
    # @option opts [String] :conference Conference abbreviation filter
    # @option opts [Integer] :id id filter for querying a single game
    # @return [Array<(Array<Game>, Fixnum, Hash)>] Array<Game> data, response status code and response headers
    def get_games_with_http_info(year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GamesApi.get_games ...'
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling GamesApi.get_games"
      end
      # resource path
      local_var_path = '/games'

      # query parameters
      query_params = {}
      query_params[:'year'] = year
      query_params[:'week'] = opts[:'week'] if !opts[:'week'].nil?
      query_params[:'seasonType'] = opts[:'season_type'] if !opts[:'season_type'].nil?
      query_params[:'team'] = opts[:'team'] if !opts[:'team'].nil?
      query_params[:'home'] = opts[:'home'] if !opts[:'home'].nil?
      query_params[:'away'] = opts[:'away'] if !opts[:'away'].nil?
      query_params[:'conference'] = opts[:'conference'] if !opts[:'conference'].nil?
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Game>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamesApi#get_games\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get player statistics by game
    # Player game stats
    # @param year Year/season filter for games
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :week Week filter
    # @option opts [String] :season_type Season type filter (regular or postseason) (default to regular)
    # @option opts [String] :team Team filter
    # @option opts [String] :conference Conference abbreviation filter
    # @option opts [String] :category Category filter (e.g defensive)
    # @option opts [Integer] :game_id Game id filter
    # @return [Array<PlayerGame>]
    def get_player_game_stats(year, opts = {})
      data, _status_code, _headers = get_player_game_stats_with_http_info(year, opts)
      data
    end

    # Get player statistics by game
    # Player game stats
    # @param year Year/season filter for games
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :week Week filter
    # @option opts [String] :season_type Season type filter (regular or postseason)
    # @option opts [String] :team Team filter
    # @option opts [String] :conference Conference abbreviation filter
    # @option opts [String] :category Category filter (e.g defensive)
    # @option opts [Integer] :game_id Game id filter
    # @return [Array<(Array<PlayerGame>, Fixnum, Hash)>] Array<PlayerGame> data, response status code and response headers
    def get_player_game_stats_with_http_info(year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GamesApi.get_player_game_stats ...'
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling GamesApi.get_player_game_stats"
      end
      # resource path
      local_var_path = '/games/players'

      # query parameters
      query_params = {}
      query_params[:'year'] = year
      query_params[:'week'] = opts[:'week'] if !opts[:'week'].nil?
      query_params[:'seasonType'] = opts[:'season_type'] if !opts[:'season_type'].nil?
      query_params[:'team'] = opts[:'team'] if !opts[:'team'].nil?
      query_params[:'conference'] = opts[:'conference'] if !opts[:'conference'].nil?
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?
      query_params[:'gameId'] = opts[:'game_id'] if !opts[:'game_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<PlayerGame>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamesApi#get_player_game_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get team statistics by game
    # Team game stats
    # @param year Year/season filter for games
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :week Week filter
    # @option opts [String] :season_type Season type filter (regular or postseason) (default to regular)
    # @option opts [String] :team Team filter
    # @option opts [String] :conference Conference abbreviation filter
    # @option opts [Integer] :game_id Game id filter
    # @return [Array<TeamGame>]
    def get_team_game_stats(year, opts = {})
      data, _status_code, _headers = get_team_game_stats_with_http_info(year, opts)
      data
    end

    # Get team statistics by game
    # Team game stats
    # @param year Year/season filter for games
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :week Week filter
    # @option opts [String] :season_type Season type filter (regular or postseason)
    # @option opts [String] :team Team filter
    # @option opts [String] :conference Conference abbreviation filter
    # @option opts [Integer] :game_id Game id filter
    # @return [Array<(Array<TeamGame>, Fixnum, Hash)>] Array<TeamGame> data, response status code and response headers
    def get_team_game_stats_with_http_info(year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GamesApi.get_team_game_stats ...'
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling GamesApi.get_team_game_stats"
      end
      # resource path
      local_var_path = '/games/teams'

      # query parameters
      query_params = {}
      query_params[:'year'] = year
      query_params[:'week'] = opts[:'week'] if !opts[:'week'].nil?
      query_params[:'seasonType'] = opts[:'season_type'] if !opts[:'season_type'].nil?
      query_params[:'team'] = opts[:'team'] if !opts[:'team'].nil?
      query_params[:'conference'] = opts[:'conference'] if !opts[:'conference'].nil?
      query_params[:'gameId'] = opts[:'game_id'] if !opts[:'game_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<TeamGame>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GamesApi#get_team_game_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
