=begin
#College Football Data API

#This is an API for accessing all sorts of college football data.  It currently has a wide array of data ranging from play by play to player statistics to game scores and more.

OpenAPI spec version: 1.20.0
Contact: admin@collegefootballdata.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.10

=end

require 'uri'

module SwaggerClient
  class RatingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get average S&P+ historical rating data by conference
    # Conference average S&P+ ratings by year
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :year Season filter
    # @option opts [String] :conference Conference abbreviation filter
    # @return [Array<ConferenceSPRating>]
    def get_conference_sp_ratings(opts = {})
      data, _status_code, _headers = get_conference_sp_ratings_with_http_info(opts)
      data
    end

    # Get average S&amp;P+ historical rating data by conference
    # Conference average S&amp;P+ ratings by year
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :year Season filter
    # @option opts [String] :conference Conference abbreviation filter
    # @return [Array<(Array<ConferenceSPRating>, Fixnum, Hash)>] Array<ConferenceSPRating> data, response status code and response headers
    def get_conference_sp_ratings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RatingsApi.get_conference_sp_ratings ...'
      end
      # resource path
      local_var_path = '/ratings/sp/conferences'

      # query parameters
      query_params = {}
      query_params[:'year'] = opts[:'year'] if !opts[:'year'].nil?
      query_params[:'conference'] = opts[:'conference'] if !opts[:'conference'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ConferenceSPRating>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RatingsApi#get_conference_sp_ratings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get S&P+ historical rating data (requires either a year or team specified)
    # S&P+ rating data
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :year Season filter (required if team not specified)
    # @option opts [String] :team Team filter (required if year not specified)
    # @return [Array<TeamSPRating>]
    def get_sp_ratings(opts = {})
      data, _status_code, _headers = get_sp_ratings_with_http_info(opts)
      data
    end

    # Get S&amp;P+ historical rating data (requires either a year or team specified)
    # S&amp;P+ rating data
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :year Season filter (required if team not specified)
    # @option opts [String] :team Team filter (required if year not specified)
    # @return [Array<(Array<TeamSPRating>, Fixnum, Hash)>] Array<TeamSPRating> data, response status code and response headers
    def get_sp_ratings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RatingsApi.get_sp_ratings ...'
      end
      # resource path
      local_var_path = '/ratings/sp'

      # query parameters
      query_params = {}
      query_params[:'year'] = opts[:'year'] if !opts[:'year'].nil?
      query_params[:'team'] = opts[:'team'] if !opts[:'team'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<TeamSPRating>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RatingsApi#get_sp_ratings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
